body {
    background-color: beige;
    font-size:40px;
}

 .container {
    text-align: center;
    border: 2px black;
    background-color: white;
    margin: 2px;
      }
#score{
  font-size: 10em;
  
}

/* comment This is the section for the extra buttons */


h1 {
  color: blue;
}

H2 {
  font-size: 1px;
}

